<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.example.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="balance" property="balance" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, username, age, balance
    </sql>

    <insert id="addUser" parameterType="com.example.entity.User" >
        INSERT INTO
        tb_user
        (username,age,balance)
        VALUES
        (#{username},#{age},#{balance})
    </insert>

    <select id="findOne" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        WHERE id = #{id}
    </select>

</mapper>